.error-msg { /*错误提示信息*/
    color: red;
    text-align: center;
    font-size: 18px;
}

.am-tab-bar { /* 将导航栏固定在底部*/
    position: fixed;
    bottom: 0;
    width: 100%;
    height: inherit; /* 包裹内容,内容多高高度就是多少*/
}

.stick-header { /* 将顶部标题固定在顶部*/
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99999;
    background-color: #1cae82;
}

.common-bar {
    margin: 50px 0;
}

/*消息文本居右*/
#chat-page .chat-me .am-list-extra {
    flex-basis: auto; /*宽度包裹内容*/
}

#chat-page .chat-me .am-list-content {
    padding-right: 15px;
    text-align: right;
}